
#section-human {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-flow: column nowrap;
    width: 60%;
    height: 280px;
    background-color: rgb(33, 23, 34);
    border-radius: 8px;
    box-shadow: 0px 0px 10px 10px rgba(255, 0, 0, 0.095);
    margin-top: 50px;
}

#section-human .text-card > p {
    padding: 10px;
    text-align: justify;
    font-size: 1.28em;
    padding-right: 15px;
    color: white;
}

section > #kaneki-human-one {
    width: 100%;
    height: 100%;
    background-image: url(../../assets/imgs/kaneki_cafeteria.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}


@media  screen and (min-width:768px)  {
    #section-human {
        max-width: 63%;
        flex-flow:  row nowrap;
        justify-content: space-between;
        align-items: start;
        margin-left: -34%;
    }
}

