#section-human {
    width: 75.6%;
    height: 240px;
    color: white;
    border-radius: 4px;
    font-family: poppins, Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.605);
    padding: 20px;
}

#section-human > header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    background-color:transparent;
}

#section-human > header > .ageHuman {
    margin-top: -26.6px;
    margin-right: -36.6px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 10px;
    font-size: 1.17em;
    font-weight: 600;
    padding: 8px 11.57px;
    animation: changedColor ease 6s infinite;
}

@keyframes changedColor {
    0% {
        color: white;
        background-image: linear-gradient(200deg, rgb(219, 62, 62), rgb(52, 18, 18));        
    }
    50% {
        color: white;
        background-image: linear-gradient(419deg, rgb(200, 2, 2), rgb(52, 18, 18));
    }
    100% {
        color: white;
        background-image: linear-gradient(140deg, rgb(181, 65, 65), rgb(52, 18, 18)); 
    }
}
