main {
    display: flex;
    align-items: center;
    justify-content: center;
    ;
    flex-flow: column nowrap;
    padding-top: 96px;
    background-image: linear-gradient( rgb(23, 22, 27), rgb(48, 18, 18));
    width: 100%;
    height: 100vh;
}

main > #section-grid {
    padding: 20px;
    width: 100%;
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-columns:repeat(2, minmax(200px, 500px));
}

main > #section-grid > section {
    border-radius: 5px;
    text-align: center;
    background-image: linear-gradient(to top, rgb(66, 17, 29), rgb(60, 24, 53));
}

main > #section-grid > section > header {
    
    display: flex;
    justify-content: space-between;
    align-items: start;
}

main > #section-grid > section > header > .age-area {
    padding: 10px;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 7px;
}
main > #section-grid > section > header > #human-age {
    background-color: white;
    font-family: var(--fontEagle);
}

main > #section-grid > section > header > #ghoul-age {
    font-family: var(--fontRubik);
    background-image: linear-gradient(135deg, rgb(255, 136, 0), red);
    color: white;
}

main > #section-grid > section > header > #married {
    font-family: var(--fontEagle);
    color: white;
}
