main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    padding-top: 60px;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient( rgb(15, 14, 18), rgb(31, 11, 11));
}

main > #section-grid {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: start;
    gap: 18px 40px;

}

main > #section-grid > section {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.251);
    border-radius: 5px;
    text-align: center;
    background-image: linear-gradient(to top, rgba(66, 17, 29, 0.382), rgba(60, 24, 53, 0.455));
}
main > #section-grid > section > .text-styling-kaneki-phases {
    padding: 10px 30px;
}
main > #section-grid > section > .text-styling-kaneki-phases > p {
    font-family: var(--fontEagle);
    color: white;
    padding: 20px 13px 10px 13px;
    margin-bottom: 35px;
}

main > #section-grid > section > header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

main > #section-grid > section > header > .age-area {
    padding: 10px;
    height: 100%;
    text-shadow: 0px 0px 1px black;
    font-size: 1.135em;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 7px;
}
main > #section-grid > section > header > #human-age {
    background-color: white;
    font-family: var(--fontEagle);
}

main > #section-grid > section > header > #ghoul-age {
    font-family: var(--fontRubik);
    background-image: linear-gradient(135deg, rgb(255, 136, 0), red);
    color: white;
}

main > #section-grid > #married-kaneki-area > header > #married-age {
    font-family: var(--fontEagle);
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}


q {
    padding: 13px;
    font-size: 1.16em;
    font-family: var(--fontPoppins);
    color: white;
}







@media screen and (min-width:768px) {
        main > #section-grid {
            justify-content: center;
            align-items: center;
           grid-template-columns:repeat(2, minmax(300px, 500px));     
        }
}