main {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    padding-top: 96px;
    background-image: linear-gradient( rgb(23, 22, 27), rgb(48, 18, 18));
    width: 100%;
    height: 100vh;
}

main > #section-grid {
    background-color: rgba(34, 41, 73, 0.384);
    height: 400px;
    width: 100%;
    display: grid;
}
