

@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
/* font-family: "Rubik Glitch", system-ui; */

@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
/* font-family: "Eagle Lake", serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}