#info {
    display: flex;
    justify-content: space-evenly;
    padding-top: 95px;
    background-image: linear-gradient( rgb(32, 12, 12),  rgb(23, 21, 29));

    
      .main-info {
          font-size: 1.15em;
          color: white;
          padding: 15px;
          font-family: var(--fontPoppins);
          display: flex;
          justify-content: space-between;
          align-items: center;
          
            div {
              padding: 10px 15px;
              border-radius: 8.5px;
              box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.384);
              background-color: rgb(255, 80, 0);
            }
      }
}

#skills-section {
    margin-right: 10px;
    padding: 15px;
    border-radius: 7px;
    width: 60%;
    background-color: rgb(105, 8, 37);

    h1 {
        text-align: center;
        color: white;
        font-family: var(--fontEagle);
        letter-spacing: 4px;
    }
}



@media screen and (max-width: 768px) {
#info {
    padding-top: 70px;
    justify-content: center;
    background-image: linear-gradient( rgb(32, 12, 12),  rgb(23, 21, 29));
    flex-flow: column nowrap;
    width: 100%;
    ;
    
      .main-info {
          width: 100%;
          text-align: center;
          font-size: 1.15em;
          color: white;
          padding: 0px;
          flex-flow: column;
          
            div {
              width: 100%;
              padding: 10px 5px;
              border-radius: 0px;
              height: 210px;
              p {
                  background-color: rgb(255, 102, 0);
                  border-radius: 4px;
                  padding: 4px;
                  margin-bottom: 8px;
                  transition: ease 0.45s;
                  &:hover {
                    padding: 12px 5px;
                  }
              }
            }
      }
}

}