header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row nowrap;
    padding: 6px 10px;
}

header > span > .ghoul-red {
    color: red;
    animation: blood-pulse ease 2.4s infinite;
}

@keyframes blood-pulse {
    0% {
        text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.688) ;
    }
    50% {
        text-shadow: 0px 0px 4.6px rgba(255, 0, 0, 0.901) ;
    }
    100% {
        text-shadow: 0px 0px 2px rgba(255, 0, 0, 0.819) ;
    }
}

@media screen and (min-width:768px) {
    header {
        justify-content: space-between;
        padding: 6px 15px;
    }
}

/* doing the responsive desktop */