header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    background-color: rgb(27, 13, 13);
    padding: 13.57px 17.6px;
    color: white;
}
header > h1 {
    
}
header > span {
    font-size: 21.87px;
}
header > span > .ghoul-red {
    letter-spacing: 0.35px;
    color: red;
    animation: blood-pulse ease 2.4s infinite;
}

@keyframes blood-pulse {
    0% {
        text-shadow: 0px 0px 2.5px rgb(255, 0, 0) ;
    }
    50% {
        text-shadow: 0px 0px 12.75px rgba(255, 0, 0, 0.989);
    }
    100% {
        text-shadow: 0px 0px 2.5px rgb(134, 3, 3) ;
    }
}

@media screen and (min-width:768px) and ( max-width:1067px) {
    header {
        justify-content: space-evenly;
        gap: 130px;
        padding: 15.57px 17.6px;
    }
}

@media screen and (min-width:1068px) {

}

/* doing the responsive desktop */