header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    background-color: rgb(0, 0, 0);
    padding: 10.57px 17.6px;
    color: white;
}

header > h1 {
    font-family: var(--fontFunnel);
    font-size: 2.21em;
}

header > span {
    font-size: 23.3px;
    font-family: var(--fontRubik);
}

.font-ease-lake {
    font-family: var(--fontEagle);
}

#human-ghoul-span {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 6.6px;
    align-items: center;
    animation: pulseText ease 3s infinite;
}

header > span > #ghoul-red {
    color: red;
    animation: blood-pulse ease-in-out 2.74s infinite;
}
@keyframes pulseText {
    0% {

    }
    50% {

    }
    100% {

    }
}
@keyframes blood-pulse {
    0% {
        text-shadow: 0px 0px 3.5px rgb(255, 0, 0);
        transform: scale(1); 
    }
    50% {
        text-shadow: 0px 0px 13.75px rgba(255, 0, 0);
        transform: scale(1.038);
    }
    100% {
        text-shadow: 0px 0px 3.5px rgb(134, 3, 3);
        transform: scale(1);
    }
}

@media screen and (min-width:768px) and ( max-width:1067px) {
    header {
        justify-content: space-evenly;
        gap: 130px;
        padding: 16.57px 17.6px;
    }

    header > h1 {
        font-family: var(--fontFunnel);
        font-size: 2.27em;
    }

    header > span {
        font-size: 24.3px;
        font-family: var(--fontRubik);
    }
}

@media screen and (min-width:1068px) {
    header {
        padding: 18px 33px;
    }
    header > h1 {
        font-family: var(--fontFunnel);
        font-size: 2.27em;
    }

    header > span {
        font-size: 24.3px;
        font-family: var(--fontRubik);
    }
    
}

/* doing the responsive desktop */