#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    background-color: rgb(0, 0, 0);
    padding: 7.57px 17.6px;
    color: white;
}

#main-header > h1 {
    font-family: var(--fontFunnel);
    font-size: 2.21em;
}

#main-header > #human-ghoul {
    display: flex;
    font-family:var(--fontRubik);
    flex-flow: row nowrap;
    font-size: 23.3px;
    justify-content: center;
    gap: 3.8px;
    align-items: center;
}

.font-ease-lake {
    font-family: var(--fontEagle);
}

#main-header > #human-ghoul > #ghoul-red > #ghoul-red-word {
    color: red;
    display: inline-block;
    animation: blood-pulse ease-in-out 2.54s infinite;
}

@keyframes blood-pulse {
    0% {
        text-shadow: 0px 0px 3.5px rgb(255, 0, 0);
        transform: scale(1); 
    }
    50% {
        text-shadow: 0px 0px 13.75px rgba(255, 0, 0);
        transform: scale(1.044);
    }
    100% {
        text-shadow: 0px 0px 3.5px rgb(134, 3, 3);
        transform: scale(1);
    }
}

@media screen and (min-width:768px) and ( max-width:1067px) {
    #main-header {
        justify-content: space-evenly;
        gap: 130px;
    }

    #main-header > h1 {
        font-family: var(--fontFunnel);
        font-size: 2.27em;
    }

    #main-header > div {
        font-size: 24.3px;
        font-family: var(--fontRubik);
    }
}

@media screen and (min-width:1068px) {

    #main-header > h1 {
        font-family: var(--fontFunnel);
        font-size: 2.27em;
    }  
}
